* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background: #001e4d;
}

.app {
  background: white;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0px;
  border-radius: 10px;
  padding: 30px;
}

.app h1 {
  font-size: 25px;
  color: #001e4d;
  font-weight: 700;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 700;
}

.btn {
  background: white;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0px;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  justify-content: space-between;
}

.btn:hover::not([disabled]) {
  background: #222;
  color: white;
}

.btn:disabled {
  cursor: no-drop;
}

#next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0px;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.correct {
  background: #9aeabc;
}

.incorrect {
  background: #ff9393;
}

.correct span,
.incorrect span {
  font-size: 12px;
  text-align: right;
  text-align: justify;
  color: #630202;
}

.correct span {
  color: #015c28;
}

#copyright {
  justify-content: end;
  display: flex;
  color: #b0b0b0;
}

#copyright a {
  text-decoration: none;
  color: #b0b0b0;
}

#copyright a:hover {
  color: #434343 !important;
}

#copyright a:visited {
  text-decoration: none;
  color: #b0b0b0;
}
